$color-green: green;
$color-dark-green: #005600;
$color-light-gray: #cdcdcd; 
$color-gray: #aaa;
$color-white: #fff;
$color-red: darkred;
$color-yellow: #ffcd00;
$font: 'Ubuntu Mono', monospace;
//
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  min-height: 100%;
  font: 20px/36px $font;
  color: $color-gray;
  background: url('../images/bg.png') repeat 0 0 / auto;
}
.batty-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: height .3s;
  overflow: hidden;
}
#batty {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 100px);
  width: 200px;
  height: 300px;
  z-index: 1;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    border: 20px solid $color-light-gray;
    background: linear-gradient(0deg, $color-gray 0, transparent 1px);
    background-repeat: repeat;
    background-size: 100% 20%;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px 1px rgba(0,0,0,.3);
    z-index: 10;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: calc(100%);
    left: calc(50% - 30px);
    width: 60px;
    height: 20px;
    background-color: $color-light-gray;
    border-radius: 5px 5px 0 0;
    z-index: 10;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 180px;
    z-index: 0;
    opacity: .3;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
  }
}

#level {
  content: attr(data-level);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-dark-green;
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;
  z-index: 2;
}
#power {
  content: "";
  position: absolute;
  bottom: 20px;
  left: calc(50% - 80px);
  width: calc(100% - 40px);
  overflow: hidden;
  opacity: .7;
  z-index: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.1) 51%, rgba(0,0,0,0) 75%);
  background-color: $color-green;
}
.charging {
  #batty {
    svg {
      opacity: .3;
      z-index: 1;
    }
  }
  #power {
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 10px;
      transform: translate(-50%, 0%) scale(0);
      background: $color-white;
      border-radius: 50%;
      opacity: 0;
    }
    &:before {
      animation: chargingBefore 4s linear infinite;
    }
    &:after {
      animation: chargingAfter 5s linear 1s infinite;
    }
  }
  .charging-data {
    transition-delay: .7s;
    transform: translateY(0);
    opacity: 1;
  }
  .discharging-data {
    transform: translateY(70px);
    opacity: 0;
  }
}
.discharging {
  .charging-data {
    transition-delay: 0;
    transform: translateY(70px);
    opacity: 0;
  }
  .discharging-data {
    transition-delay: .7s;
    transform: translateY(0);
    opacity: 1;
  }
}
.charging-data {
  background-color: $color-green;
}
.discharging-data {
  background-color: $color-red;
}

.data-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 15px 0;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: $color-white;
  
  transform: translateY(70px);
  opacity: 0;
  transition: transform .7s, opacity 1s;
  will-change: transform;
  svg {
    position: absolute;
    top: 10px;
    left: 40px;
    width: auto;
    height: calc(100% - 20px);
    will-change: transform;
  }
}
.charging-data {
  svg {
    transform: scale(1);
    animation: chargeData 1s infinite;
  }
}
.discharging-data {
  svg {
    path {
      animation: dischargeData 1s infinite;
    }
  }
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
  #batty {
    top: calc(50% - 185px);
    transform: rotate(90deg);
  }
  #level {
    top:  calc(50% - 40px);
    left: calc(50% - 55px);
    transform: rotate(-90deg);
    transform-origin: center;
  }
}
// ANIMATIONS 
@keyframes dischargeData {
  50% {
    fill: $color-yellow;
  }
}
@keyframes chargeData {
  50% {
    transform: scale(.95);
    opacity: 0.7;
  }
}
@keyframes chargingBefore {
  10% {
    opacity: 1;
    transform: translate(10%, -26px) scale(1.2);
  }
  20% {
    transform: translate(-49%, -52px) scale(1.2);
  }
  30% {
    transform: translate(-23%, -78px) scale(1.2);
  }
  37% {
    transform: translate(6%, -110px) scale(2);
  }
  50% {
    transform: translate(-29%, -130px) scale(2);
  }
  60% {
    transform: translate(-42%, -156px) scale(2);
  }
  70% {
    transform: translate(-25%, -182px) scale(2);
  }
  78% {
    transform: translate(-25%, -199px) scale(2);
  }
  80% {
    transform: translate(27%, -208px) scale(1.2);
  }
  90% {
    transform: translate(-21%, -234px);
  }
  100% {
    opacity: 1;
    transform: translate(42%, -260px) scale(1.2);
  }
}
@keyframes chargingAfter {
  10% {
    opacity: 1;
    transform: translate(-83%, -26px) scale(1);
  }
  20% {
    transform: translate(-68%, -52px) scale(1);
  }
  30% {
    transform: translate(-112%, -78px) scale(1);
  }
  36% {
    transform: translate(-62%, -100px) scale(1.6);
  }
  50% {
    transform: translate(-56%, -130px) scale(1.6);
  }
  60% {
    transform: translate(-103%, -156px) scale(1.6);
  }
  70% {
    transform: translate(-65%, -182px) scale(1.6);
  }
  77% {
    transform: translate(-65%, -195px) scale(1.6);
  }
  80% {
    transform: translate(-99%, -208px) scale(1);
  }
  90% {
    transform: translate(-71%, -234px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-94%, -260px) scale(1);
  }
}
